{% extends "webapp/author_base.html" %}

{% block title %}
    {{ author }}
{% endblock %}

{% block content %}
    <h1><a href={% url "author_list" %}>Author</a></h1>
    <h2>{{ author }} | <a href={% url "author_update" author.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "author_delete" author.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ author }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}