{% extends "webapp/tag_base.html" %}

{% block title %}
    Update {{ tag }}
{% endblock %}

{% block content %}
<h1><a href={% url "tag_list" %}>Tag</a></h1>
<h2>Update {{ tag }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "tag_detail" tag.pk %}>Cancel</a>
<form style="display:inline;" action={% url "tag_delete" tag.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ tag }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}